# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database (auto-created on first run - shouldn't be committed)
hostel.db
*.db
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
